{% extends 'main/layout.html' %}
{% load static %}
{% load i18n %}
{% block link %}
<link rel="stylesheet" href="{% static 'main/css/pass-change.css'%}">
{% endblock %}


{% block first_section %}
    <div class="col-4 offset-4">
    <form method="post">
        {% csrf_token %}
        <h3>{% trans 'Зміна паролю' %}</h3>
    {% for field in change_password_form %}
        <p><label for="{{ field.id_for_label }}">{{ field.label }}</label>{{ field }}</p>
        {% for error in field.errors %}
                <p class='error' style="color: red;">{{ error }}</p>
        {% endfor %}
    {% endfor %}
        <button class="btn submit btn-sub btn-primary">{% trans 'Змінити пароль' %}</button>
    </form>
    </div>
{% endblock %}
{% block second-section %} {% endblock %}