{% extends 'main/layout.html' %}
{% load static %}
{% load i18n %}
{% block link %}
<link rel="stylesheet" href="{% static 'main/css/password-reset.css' %}">
{% endblock %}

{% block first_section %}
    <div class="col-4 offset-4">
    <h3>{% trans 'Відновлення паролю' %}</h3>
    <form method="post">
        {% csrf_token %}
        {% for field in password_reset_form %}
        <p><label for="{{ field.id_for_label }}">{{ field.label }}</label>{{ field }}</p>
        {% for error in field.errors %}
        <p class='error' style="color: red;">{{ error }}</p>
        {% endfor %}
        {% endfor %}
        {% if error %}
        <p id="error">{% trans 'Облікового запису с таким email немає в системі.' %}</p>
        {% endif %}
        <button class="btn submit btn-sub btn-primary">{% trans 'Відновити пароль' %}</button>
    </form>
    </div>
{% endblock %}

{% block second-section %} {% endblock %}