img {
    height: 150px;
}

.first-section {
    height: auto;
    min-height: 90vh;
}

.card:hover {
    background: #f7f7f7;

}
a:active,
a:hover,
a {
    text-decoration: none;
    color: #000000;
}

.logo:hover {
    color: #ffffff;
}
#departments {
    color: #ffffff;
}
